[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0
#log_error=/var/log/mysql/mysql_error.log


[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp

#log_error=/var/log/mysql/mysql_error.log


lc-messages-dir	= /usr/share/mysql
default-storage-engine = myisam
skip-external-locking
#skip-bdb
skip-innodb
#bind-address		= 127.0.0.1
bind-address		= 192.168.1.3
key_buffer		= 32M
max_allowed_packet	= 32M
thread_stack		= 1024K
thread_cache_size       = 32
myisam-recover         = BACKUP
max_connections        	= 64
wait_timeout		= 512
query_cache_limit	= 2048K
query_cache_size        = 32M



[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer		= 8M

!includedir /etc/mysql/conf.d/
